/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --header-logo-color: #DB00FF;
  --header-subtitle-bg-color: #DB00FF;
  --header-subtitle-color: #000028;
  --button-text-color: #FF0070;
  --bg-color: #000028; 
  --title-txt-color: #FF0070;
  --decor-color: #FF0070; 
  --bg-decor:#FF0070;
  --main-text-color: #F1B2CE;
  --title-color-thin: #000028;
  --title-color: #FF0070;
  --hover-focus-color: #F1B2CE;
  --accent-color: #FF0070;
  --footer-logo-color:  #DB00FF;
  --logo-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
 
}

.theme-dark .rec-dark {
  position: absolute;
  justify-self: start;  
  font-size: 18px;
  /* left: 81%;
  top: 2%; */
  margin-top: 0px;
  top: 1.5ex;
  right: 4ch;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--decor-color);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.theme-dark .rec-dark::after {
  content: ""; 
  position: absolute; 
  display: block;
  top: 0.5ex;
  left: 4ch;
  width: 12px;
  height: 12px;
  background-color: var(--decor-color); 
  border-radius: 50%;
  filter: blur(2px);
}


 /* .rec-dark {  
  
  }  */

 /* .rec-dark::after {  
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10%;
  margin-left: 9px; 
  background-color: var(--decor-color); 
  border-radius: 50%;
  filter: blur(2px);
 }  */

.title-decor {
background-color: var(--bg-decor);
color: #000028;
}
 .content-text {
  color: var(--main-text-color);
}

.thin-font {
  color:var(--title-color-thin);
}

.link-color {
  text-shadow: 2px 1px 0 var(--decor-color);
}
.link-color:hover {
text-decoration: underline;
color: var(--hover-focus-color);
}
.link-color:focus-visible {
  outline: var(--hover-focus-color) 1px solid;
}

/* .rec-dark { 
  justify-self: end;
  position: absolute;
  font-size: 18px;
  left: 81%;
  top: 2%;
  margin-top: 0px;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--decor-color);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
} */

/* .rec-dark::after { 
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 10%;
  margin-left: 9px; 
  background-color: var(--decor-color); 
  border-radius: 50%;
  filter: blur(2px);
} */

  @media (min-width: 768px) { 

   .rec-dark {
    left: 91%;
    top: 2%;
  }

   .rec-dark::after {   
    top: 10%;
    left: 10%;
   }


 }


 @media (min-width: 1024px) { 

 .rec-dark {
    left:93%;
    top: 2.5%;
  } 

  .rec-dark::after {  
    top: 15%;
    left: 110%;
  } 

} 



  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
