/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-font-family: 'IBM Plex Mono', monospace;
  --header-logo-color: #DB00FF;
  --header-subtitle-bg-color: #DB00FF;
  --header-subtitle-color: #000028;
  --header-lg-ln-height: 83%;
  --header-fnt-wgt: 700;
  --header-text-size: 18px;
  --button-fnt-size: 18px;
  --button-fnt-wgt: 400;
  --button-font-family: 'IBM Plex Mono', monospace;
  --button-text-color: #FF0070;
  --bg-color: #000028; 
  --main-font-family: 'IBM Plex Mono', monospace;
  --title-txt-color: #FF0070;
  --title-fnt-wgt: 700;
  --title-fnt-family: 'IBM Plex Mono', monospace;
  --title-fnt-size: 18px;
  --decor-color:#FF0070; 
  --bg-decor:#FF0070;
  --main-text-color: #F1B2CE;
  --title-color-thin: #000028;
  --title-color: #FF0070;
  --hover-focus-color: #F1B2CE;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --accent-color: #FF0070;
  --thin-font-weight: 400;
  --footer-logo-color:  #DB00FF;
  --logo-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-font-family: 'IBM Plex Mono', monospace;
  --footer-fnt-wgt: 700;

 

}
